<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ian.media.dao.PowerRoleMenuMapper" >
  <resultMap id="BaseResultMap" type="com.ian.media.model.PowerRoleMenu" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="menu_id" property="menuId" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, menu_id, role_id
  </sql>
   <select id="get" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List"/>
        from power_role_menu
        where 1=1
        <if test="id != null">
            and id=#{id,jdbcType=VARCHAR}
        </if>
        <if test="roleId != null">
            and role_id=#{roleId,jdbcType=VARCHAR}
        </if>
        <if test="menuId != null">
            and menu_id=#{menuId,jdbcType=VARCHAR}
        </if>
        <if test="index !=null">
            limit #{index},#{rows}
        </if>

    </select>
    
    <select id="getCount" resultType="int" parameterType="java.util.HashMap">
        select
        count(*)
        from power_role_menu
        where 1=1
        <if test="id != null">
            and id=#{id,jdbcType=VARCHAR}
        </if>
        <if test="parentId != null">
            and parent_id=#{parentId,jdbcType=VARCHAR}
        </if>
        <if test="roleName != null">
            and role_name=#{roleName,jdbcType=VARCHAR}
        </if>
        <if test="remark != null">
            and remark=#{remark,jdbcType=INTEGER}
        </if>
        <if test="state != null">
            and state=#{state,jdbcType=INTEGER}
        </if>
     
        order by update_time desc
        <if test="index !=null">
            limit #{index},#{rows}
        </if>
    </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from power_role_menu
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from power_role_menu
    where id = #{id,jdbcType=VARCHAR}
  </delete>
   <delete id="deleteByRoleId" parameterType="java.lang.String" >
    delete from power_role_menu where 
     role_id=#{roleId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ian.media.model.PowerRoleMenu" >
    insert into power_role_menu (id, menu_id, role_id
      )
    values (#{id,jdbcType=VARCHAR}, #{menuId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ian.media.model.PowerRoleMenu" >
    insert into power_role_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.ian.media.model.PowerRoleMenu" >
    update power_role_menu
    <set >
      <if test="menuId != null" >
        menu_id = #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ian.media.model.PowerRoleMenu" >
    update power_role_menu
    set menu_id = #{menuId,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>